* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h2 {
  font-size: 64px;
  font-weight: bold;
}
section h2 span {
  color: #4cc9f0;
}
section {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 117px;
}
form {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 117px;
}
#container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
label,
input[type="submit"],
h2 {
  text-transform: uppercase;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #007be5;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 20px 200px;
  font-size: 20px;
  transition: 0.3s ease;
}
input[type="submit"]:hover{
  opacity: 0.9;
  transform: scale(1.01);
}
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-size: 22px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="time"],
input[type="date"],
textarea {
  outline: none;
  width: 100%;
  border: none;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 25px 20px;
  font-size: 20px;
}
button {
  background-color: #007be5;
  color: #fff;
  border: none;
  border-radius: 8px !important;
  padding: 15px;
  width: 200px;
  text-transform: uppercase !important;
  font-weight: 550;
  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  height: 320px;
  resize: none;
}

#btn-add {
  background: none;
  border: none;
  color: #E32828;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: auto;
  margin-right: auto;
  padding: 0px;
}

.integrante-wrapper {
  position: relative;
  margin: 35px 0;
  padding-right: 30px; 
}

.btn-remove-x {
  position: absolute;
  top: -10px;
  right: -10px;
  color:  #E32828;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LADO A LADO */
.integrante-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

/* FOTO */
.foto-area {
  width: 180px;
  height: 180px;
  background: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.foto-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INPUTS */
.inputs-area {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.inputs-area label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputs-area input {
  padding: 10px;
  background: #f2f2f2;
  border: none;
  margin-bottom: 15px;
}
