body {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
#secao_bandas {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  height: auto;
  margin: 90px 0;
}
#titulo_artistas {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
#titulo_artistas span {
  color: #fb8b24;
}
.linha_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.caixa_banda {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 347px;
  height: 432px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.caixa_banda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 0;
}
.caixa_banda::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52%;
  background: linear-gradient(to top, #000, #000, transparent);
  pointer-events: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.texto_banda_overlay {
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 10px;
  z-index: 1;
}

.titulo_banda {
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.botoes_banda {
  font-size: 1.2rem;
  color: #fb8b24;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.banda_editar {
  color: #3bcaf6;
  text-decoration: none;
}
.banda_excluir {
  color: #ef5844;
  text-decoration: none;
}
.botoes_banda a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.caixa_banda:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: auto;
}
