.conteudo-principal {
    flex: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-conta {
    text-align: center;
    width: 100%;
}

.titulo-conta {
    font-size: 3rem;
    color: #333;
    margin-bottom: 90px;
    font-weight: bold;
}

.destaque-azul {
    color: #3b82f6;
}

/* Container de ações */
.container-acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    max-width: 1100px;
    margin: 0 auto;
}
.container-acoes a{
    text-decoration: none;
    color: #fff;
}

.cartao-acao {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-cartao:hover, .cabecalho-cartao:hover {
    transform: scale(1.03);
}
.conteudo-cartao, .cabecalho-cartao {
    border-radius: 8px;
}

.cabecalho-cartao {
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.cabecalho-perfil {
    background-color: #fb923c;
}

.cabecalho-eventos {
    background-color: #ef4444;
}

.cabecalho-cartao h3 {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.conteudo-cartao {
    background-color: #2d2d2d;
    padding: 5rem 3rem;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.texto-criar {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.texto-destaque {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto-perfil {
    color: #fb923c;
}

.texto-evento {
    color: #ef4444;
}



/* Responsividade */
@media (max-width: 768px) {
    #menu_principal {
        flex-direction: column;
        gap: 1rem;
    }

    .menu {
        gap: 1.5rem;
    }

    .titulo-conta {
        font-size: 2rem;
    }

    .container-acoes {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #rodape {
        flex-direction: column;
        text-align: center;
    }

    #redes_sociais {
        align-items: center;
    }
}

