* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-selects {
    width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 40px 0;
  font-family: "Poppins", sans-serif;
  max-width: 1121px;
  flex-wrap: wrap;
}

.custom-select {
  position: relative;
  flex: 1;
  
  min-width: 250px;
}

.select-header {
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.select-header span {
  color: #5c21d3;
  font-weight: 600;
  font-size: 16px;
}

.select-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5c21d3;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  border: solid #5c21d3;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(45deg);
  transition: 0.2s;
}

.reset-select {
  position: absolute;
  top: 0;
  right: 22px;
  background: transparent;
  border: none;
  color: #888;
  font-weight: 700;
  cursor: pointer;
  padding: 0 6px;
  font-size: 14px;
}
.reset-select:hover {
  color: #5c21d3;
}

/* Lista oculta */
.select-list {
  list-style: none;
  padding: 0;
  margin-top: 8px;
  border: 1px solid #ccc;
  background: #fff;
  display: none;
  border-radius: 4px;
  overflow: hidden;
}

.select-list li {
  padding: 10px;
  cursor: pointer;
  color: #4b4b4b;
}

.select-list li:hover {
  background: #f3e8ff;
  color: #5c21d3;
}

/* Classe para quando abrir */
.show {
  display: block;
}

.rotate {
  transform: rotate(-135deg);
}
section {
  margin: 90px 0;
}

.titulo_secao {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}

#secao_bandas {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  height: auto;
}
#titulo_artistas span {
  color: #04a777;
}
.linha_cards {
    max-width: 1121px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.caixa_banda {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 347px;
  height: 432px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.caixa_banda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 0;
}
.caixa_banda::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52%;
  background: linear-gradient(to top, #000, #000, transparent);
  pointer-events: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.texto_banda_overlay {
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 10px;
  z-index: 1;
}

.titulo_banda {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.estilo_musical_banda {
  font-size: 1.2rem;
  color: #fb8b24;
  text-align: center;
  font-weight: bold;
}

.caixa_banda:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-select .select-list li.keyboard-focus {
    background-color: #ddd;
    outline: 1px solid #444;
}