#rodape {
  padding: 40px 80px;
  background-color: #3a0ca3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  text-wrap: wrap;
}

#logo_rodape img {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  width: 100px;
}

#menu_institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lista_institucional {
  padding: 0;
  margin: 0;
  text-align: center;
}

#lista_institucional li {
  list-style: none;
  margin-bottom: 5px;
}

#lista_institucional a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

#lista_institucional a:hover {
  text-decoration: underline;
  color: #dedede;
}

#menu_institucional h2,
#redes_sociais h2 {
  font-size: 1em;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#redes_sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icones_redes {
  display: flex;
  gap: 15px;
}

#icones_redes i {
  font-size: 53px;
}

#icones_redes a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  font-size: 1.5em;
  transition: color 0.3s ease;
  text-decoration: none;
}

#icones_redes a:hover {
  background-color: transparent;
  color: #dedede;
}

@media (max-width: 768px) {
  #rodape {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  #logo_rodape {
    margin-bottom: 25px;
  }

  #menu_institucional,
  #redes_sociais {
    width: 100%;
    margin-bottom: 25px;
  }

  #menu_institucional h2 {
    margin-bottom: 10px;
  }

  #redes_sociais h2 {
    margin-bottom: 15px;
  }

  #icones_redes a {
    font-size: 1.8em;
  }
}